/* Header bar */
header, .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  background: #ffffff;
}

/* Brand */
.header__brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {
  width: 98px;
  height: 26px;
}


/* Navigation */
.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__button,
.header__nav-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #1c1c1c;
  background: white;
  border-radius: 4px;
  text-decoration: none;
}


.header__button--active,
.header__nav-link--active {
  background: #9679D933;
}

.header__button:HOVER,
.header__nav-link:HOVER {
    background: #9679D91A;
}





.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
}

@media (max-width: 768px) {
  .header {
    justify-content: flex-start;
    gap: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  .header__logo {
    margin-left: auto;
  }

  /* Nav is hidden by default on mobile */
  .header__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 102;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    /* padding and gap according to Figma */
  }

  /* Shown when the menu is open */
  .header__nav_mobile {
    display: flex;
  }
}